@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@import "./common.blocks/testimonial/testimonial.css";
@import "./common.blocks/author/author.css";

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* =============== COLORS =============== */
    /* primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --light-moderate-violet: hsl(263, 55%, 70%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* =============== FONT =============== */
    --font: 'Barlow Semi Condensed', sans-serif;

    /* weights */
    --font-medium: 500;
    --font-semibold: 600;
}

html {
    font-family: var(--font) ;
    font-size: 13px;
    color: var(--very-dark-grayish-blue);
}

body {
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

.main {
    display: grid;
    gap: 2em;
}